<%= render 'layouts/header' %>
<div id="wrap">
	<div id ="welcome-or-notice">
		<%= flash[:notice] %>
	</div>
	<div id="section">
		<% @movies.each do |movie| %>
		<%= image_tag movie.poster.url(:large) %>
		<%= movie.name %>
		<%= movie.released %>
		<% end %>
	</div>
</div>
